// Color variable
$text-shadow-light: rgba(0, 0, 0, 0.3);
$text-shadow: rgba(0, 0, 0, 0.8);
$text-shadow-white: rgba(255, 255, 255, 0.8);

$box-shadow-light: rgba(0, 0, 0, 0.7);
$box-shadow: rgba(0, 0, 0, 0.9);

$border-black-light: rgba(0, 0, 0, 0.3);
$border-black: rgba(0, 0, 0, 0.4);
$border-white-light: rgba(255, 255, 255, 0.3);
$border-white: rgba(255, 255, 255, 0.4);

$font-black: rgb(51, 51, 51);
$font-black-dark: rgb(17, 17, 17);
$font-red: rgb(255, 50, 50);

$background-black-light: rgb(68, 68, 68);
$background-black: rgb(34, 34, 34);

$background-white-transparent-hover: rgba(255, 255, 255, 0.4);
$background-white-transparent: rgba(255, 255, 255, 0.2);

$background-red-hover: rgb(255, 40, 70);
$background-red: rgb(225, 10, 40);

$background-blue-light-hover: rgb(100, 120, 180);
$background-blue-light: rgb(60, 80, 140);
$background-blue: rgb(30, 30, 120);
$background-blue-dark-hover: rgb(20, 20, 100);
$background-blue-dark: rgb(15, 15, 95);

$background-pink-light: rgb(255, 230, 255);
$background-pink: rgb(255, 170, 170);