// top
.top-container {
  background: image-url('top.jpg') center/cover;
  text-align: center;
  color: white;

  h1 {
    font-size: 60px;
    margin: 0;
    padding-top: 200px;
    padding-bottom: 60px;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 2px 2px 0px black;
  }

  p {
    font-size: 24px;
    line-height: 36px;
    text-shadow: 1px 1px 0px black;
  }
}

.btn-container {
  margin: 0 auto;
  width: 400px;
  padding: 60px;

  .btn {
    color: white;
    display: inline-block;
    background-color: #E0162E;
    padding: 14px 20px;
    font-size: 18px;
    margin: 20px;
  }
}

// about
.about-container {
  border: solid 1px gray;
  background-color: white;
  text-align: center;
  margin: 30px auto;
  width: 800px;
  box-shadow: 0 0 8px black;
  padding: 50px;
}

.about-container h3 {
  font-size: 36px;
  margin-bottom: 50px;
  border-bottom: solid 1px gray;
  padding-bottom: 5px;
}

.about-container p {
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 10px;
}