// top
.top-wrapper {
  background: image-url('top.png') top/cover;
  margin: 50px auto 0;
  padding: 200px 0 0;
  text-align: center;

  h1 {
    font-size: 60px;
    padding-bottom: 60px;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.700);
  }

  p {
    font-size: 24px;
    line-height: 36px;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.700);
  }
}

.buttons {
  padding: 100px 0 120px;
  text-align: center;

  .button {
    @include button;
    margin: 0 20px;
  }
}

// about
.about-container {
  border: solid 1px gray;
  background-color: #fff;
  text-align: center;
  margin: 30px auto;
  width: 800px;
  box-shadow: 0 0 8px black;
  padding: 50px;
}

.about-container h3 {
  font-size: 36px;
  margin-bottom: 50px;
  border-bottom: solid 1px gray;
  padding-bottom: 5px;
}

.about-container p {
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 10px;
}