// 全体 //
html {
  font-size: 62.5%;
}

body {
  color: white;
  font-size: 1.6rem;
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体',
    'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN',
    'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo,
    'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.flash {
  width: 100%;
  height: 40px;
  background-color: $background-pink;
  color: $font-red;
  font-size: 2rem;
  line-height: 40px;
  text-align: center;
  @include text-shadow-light-s;
}

// header //
header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 50px;
  background-color: $background-black;
  @include border-bottom-rich;
}

.logo a {
  float: left;
  height: 50px;
  padding: 0;
  font-size: 2.5rem;
  line-height: 50px;
  letter-spacing: 2px;

  img {
    display: inline-block;
    width: 55px;
    height: 50px;
    padding: 10px 10px 10px 15px;
  }

  span {
    display: inline-block;
    height: 50px;
    vertical-align: top;
    @include text-shadow-l;
    transition: 0.2s;

    &:hover {
      color: $font-red;
    }
  }
}

nav {
  float: right;
  height: 50px;
  line-height: 50px;
  @include text-shadow-m;

  a {
    display: inline-block;
    height: 50px;
    margin-right: 25px;
    font-size: 2rem;
    transition: 0.2s;

    &:hover {
      color: $font-red;
    }
  }
}

// main
main {
  margin-top: 50px;
}

footer {
  width: 100%;
  height: 30px;
  background-color: $background-black;
  font-size: 1.2rem;
  line-height: 30px;
  text-align: center;
  @include border-top-rich;
  @include text-shadow-s;
}

// デバッグ

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  color: $font-black;
}