// users-new
.signup-wrapper {
  height: 750px;
  padding-top: 120px;
  background: image-url('main.png') top center / cover;
}

.signup-form {
  width: 320px;
  margin: 0 auto;
  padding: 40px 30px 50px;
  border-radius: 3px;
  background-color: $background-pink-light;
  color: $font-black;
  font-size: 1.6rem;
  text-align: center;
  @include border;
  @include box-shadow-ll;

  .error {
    font-size: 1.3rem;
    color: $font-red;

    ul {
      margin-bottom: 25px;
    }

    li {
      margin-bottom: 10px;
    }
  }

  label {
    display: block;
    width: 100%;
  }

  input {
    display: block;
    width: 100%;
    margin: 5px 0 10px;
    color: $font-black;
    font-size: 1.6rem;
    text-align: center;
  }

  p {
    margin: 5px 0 0;
  }

  .submit.button {
    @include button;
    margin: 30px auto 0;
    border-style: none;
  }
}

// users-show
.user-wrapper {
  height: 750px;
  padding-top: 60px;
  background: image-url('background.jpg') top center / cover;

  .user-container {
    width: 970px;
    margin: 0 auto;

    .user-information {
      float: left;
      width: 320px;
      margin: 0 auto;
      padding: 20px;
      font-size: 2.4rem;
      text-align: center;
      @include text-shadow-m;
      @include component-template;

      img {
        width: 250px;
        height: 250px;
        margin-bottom: 20px;
        border-radius: 50%;
        @include border;
        @include box-shadow-light-m;
      }

      p {
        margin-bottom: 20px;
      }

      .follow,
      .follower {
        padding: 10px 0;
        margin-bottom: 20px;
        @include component-template-2;


        i {
          margin-right: 10px;
        }
      }

      .button {
        @include button;
        font-size: 1.8rem;
        width: 120px;

        +.button {
          margin-left: 20px;
        }
      }
    }

    .user-reviews {
      float: right;
      width: 620px;
      margin: 0 auto;
      padding: 20px;
      font-size: 2.4rem;
      @include text-shadow-m;
      @include component-template;

      .heading {
        width: 100%;
        padding: 10px 20px;
        margin-bottom: 20px;
        @include component-template-2;

        i {
          margin-right: 10px;
        }
      }

      .reviews {
        .reviews-filter ul li {
          @include filter;

          &+li {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

// users-edit
.edit-wrapper {
  height: 750px;
  padding-top: 120px;
  background: image-url('main.png') top center / cover;
}

.edit-form {
  width: 320px;
  margin: 0 auto;
  padding: 40px 30px 50px;
  border-radius: 3px;
  background-color: $background-pink-light;
  color: $font-black;
  font-size: 1.6rem;
  text-align: center;
  @include border;
  @include box-shadow-ll;

  .error {
    font-size: 1.3rem;
    color: $font-red;

    ul {
      margin-bottom: 25px;
    }

    li {
      margin-bottom: 10px;
    }
  }

  label {
    display: block;
    width: 100%;
  }

  input {
    display: block;
    width: 100%;
    margin: 5px 0 10px;
    color: $font-black;
    font-size: 1.6rem;
    text-align: center;
  }

  p {
    margin: 5px 0 0;
  }

  .submit.button {
    @include button;
    margin: 30px auto 0;
    border-style: none;
  }
}